.skills {
    background-color: #fef9f9;
    height: 350px;
}

.skills-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 10%;
}

.skill {
    background-color: white;
    height: 100px;
    width: 100px;
    padding-top: 40px;
    margin: 5px;
    border-radius: 35%;
    color: brown;
}

.skill:hover {
    color: crimson !important;
    font-weight: 700 !important;
    letter-spacing: 2px;
    background: none;
    box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.3s ease 0s;
    margin: 0 10px;
}