.contact {
    background-color:#ffeced;
    height: 300px;
}

.contact-item {
    padding: 1%;
}

.contact-item:hover {
    color: brown;
}

.contact-item img {
    width: 13%;
}

.contact-item-container {
    text-align: left;
    margin: 0 43%;
    width: 21%;
    font-size: 18px;
}

